#view-files {
    background-color: yellow;
    min-height: 10em;
    &.dragOver { 
        background-color: orange;
    }
}
#view-results {
    background-color: orange;
    min-height: 10em;
    &.dragOver { 
        background-color: red;
    }
}

