@import "grid", "list";

html {
    font-size: 18px;
    font-family: "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;
}

.mainPanel {
    @extend .grid;
    
    #view-files {
        background-color: yellow;
        min-height: 10em;
        &.dragOver { 
            background-color: orange;
        }
    }
    #view-results {
        background-color: orange;
        min-height: 10em;
        &.dragOver { 
            background-color: red;
        }
    }
}

input:invalid {
    border: 1px solid red;
}
