@import "grid", "list", "flexbox";

html {
    font-size: 18px;
    font-family: "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;
}

body {
    @extend %flexbox-column;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    margin: 0;
    padding: 0.2em; 
}

[data-view="Files"] {
    list-style-position: inside;
    background-color: white;
    &.dragOver { 
        background-color: orange;
    }
}
[data-view="Results"] {
    list-style-position: inside;
    background-color: white;
    &.dragOver { 
        background-color: red;
    }
    li {
        div { display: inline-block; }
        div:nth-child(1){ width: 90%; }
        div:nth-child(2){ width: 10%; }
    }
}


// TOP
header {
    @include flex(0 0 3em);
    border: 1px solid grey;
    padding: 0;
    margin: 0;
    h1 { 
        font-size: 2.3em;
        margin: 0;
        padding: 0;
    }    
}

// MIDDLE
output {
    @include flex(1 1 auto);
    @extend %flexbox-row;
    @include align-items(center);
    @include justify-content(center);
    
    position: relative;
    overflow: scroll;
    
    ul {
        position: absolute;
        bottom: 0;
        top: 0;
        right: 0;
        left: 0;
        margin: 0;
        padding: 0;
    }
    ul.hide { display: none; }
    
}

// BOTTOM
form {
    @include flex(0 0 0em);
    border: 1px solid grey;
    overflow: hidden;
    -webkit-transition-duration: 0.3s;
    
    div[role=group] {
        border: none;
    }
    
    // Find, replace
    .findReplace {
        label {
            display: block;
            width: 100%;
            margin: 0.2em 0;
            input {
                width: 100%;
                font-size: inherit;
                -webkit-appearance: none;
            }
        }
    }
    
    // checkboxes
    .checkboxes {
        @extend %flexbox-row;
        @include justify-content(space-between);
        margin: 0.2em 0;
        label {
            @include flex(0 0 auto);
        }
    }
    
    // progress bar, buttons
    .controls {
        @extend %flexbox-row;
        margin: 0.2em 0;
        
        progress {
            @include flex(1 1 auto);
        }
        div {
            @include flex(1 1 auto);
            text-align: right;

            #rename {
                background-color: lightblue;
                border-radius: 5px;
            }
        }
    }
    
}

:invalid {
    border: 1px solid red;
}

.centredPanel { 
    @include flex(0 0 auto);
}
