@import "grid", "list", "flexbox";

html {
    font-size: 18px;
    font-family: "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;
}

body {
    @extend %flexbox-column;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    margin: 0;
    padding: 0.2em; 
}

// TOP
header {
    @include flex(0 0 3em);
    border: 1px solid grey;
    padding: 0;
    margin: 0;
    h1 { 
        font-size: 2.3em;
        margin: 0;
        padding: 0;
    }    
}

// MIDDLE
output {
    @include flex(1 1 auto);
    @extend %flexbox-row;
    @include align-items(center);
    @include justify-content(center);
    
    border: 1px solid brown;
    position: relative;
    
    ul {
        position: absolute;
        bottom: 0;
        top: 0;
        right: 0;
        left: 0;
        margin: 0;
        padding: 0;
    }
    ul.hide { display: none; }
    
    #view-files {
        background-color: yellow;
        &.dragOver { 
            background-color: orange;
        }
    }
    #view-results {
        background-color: orange;
        &.dragOver { 
            background-color: red;
        }
    }
}

// BOTTOM
form {
    @include flex(0 0 0em);
    border: 1px solid grey;
    overflow: hidden;
    -webkit-transition-duration: 0.3s;
    
    div[role=group] {
        border: none;
    }
    div[role=group]:nth-child(1) {
        label {
            display: block;
            width: 100%;
            margin: 0.2em 0;
            input {
                width: 100%;
                font-size: inherit;
                -webkit-appearance: none;
            }
        }
    }
    
    div[role=group]:nth-child(2) {
        @extend %flexbox-row;
        @include justify-content(space-between);
        label {
            @include flex(0 0 auto);
        }
    }
    
    div[role=group]:nth-child(3) {
        @extend %flexbox-row;
        @include justify-content(flex-end);
        #rename {
            background-color: lightblue;
            border-radius: 5px;
        }
    }
    
}

:invalid {
    border: 1px solid red;
}

.centredPanel { 
    @include flex(0 0 auto);
}